<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	<section>
		<div class="container col-md-10 offset-md-1 my-4" >
			
			<div class="row">
			
				<div class="card">
			
					<div class="card-body">
					
						<div class="container text-center">
							<img style="width:120px;display: inline-block;float:left;" th:src="@{/img/contact-manager.png}" alt="" />
							<h1 style="color: #009688;display:inline-block; ">Smart Contact Manager</h1>
							<img style="width:120px;display: inline-block; float:right;" th:src="@{/img/contact-manager.png}" alt="" />
						</div>
						
						<div class="card my-2" style="background:#e2e2e2;display:inline-block;">
								
								<div class="card mb-2" style="width:35%;display:inline-block; float:left;margin-left:10%;margin-top:2%">
								  <img th:src="@{/img/Features.png}" class="card-img-top" alt="...">
								  <div class="card-body">
								    <h5 class="card-title">Features</h5>
								    <p class="card-text">
										<ul >
											<li>Register using basic details</li>
											<li>Login using credentials</li>
											<li>Add contacts</li>
											<li>View Contacts</li>
											<li>Update or Delete Contacts</li>
											<li>Change Password</li>
											<li>Forgot Password</li>
											<li>Email Authentication</li>
										</ul>
								    
								    </p>
								  </div>
								</div>
								
								
								<div class="card mb-2" style="width: 35%;display:inline-block;float:left;margin-left:10%;margin-top:2%">
								  <img th:src="@{/img/technology.jpeg}" class="card-img-top" alt="...">
								  <div class="card-body">
								    <h5 class="card-title">Technology Stack</h5>
								    <p class="card-text">
										<ul >
											<li>HTML</li>
											<li>CSS</li>
											<li>Spring Boot</li>
											<li>Spring Data JPA</li>
											<li>Spring Security</li>
											<li>Thymeleaf</li>
											<li>MySQL</li>
											<li>DevTools</li>
										</ul>
								    
								    </p>
								  </div>
								</div>
								
						</div>
						
				
					</div>
			
				</div>
			
			</div>

		</div>
	</section>
	
</body>
</html>