<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Login Page</title>
</head>
<body>
	<section >
		<div id="login ">
        <div class="container ">
            <div id="login-row" class=" row justify-content-center align-items-center">
                <div id="login-column" >
                    <div id="login-box" class="col-md-4 offset-md-4 my-card mt-5">
                    	<div class="container text-center">
							<img style="width:80px" th:src="@{/img/register.png}" alt="" />
						</div>
                        <form id="login-form" class="form" th:action="@{/dologin}" method="post">
                            <h3 class="text-center">Login</h3>
                            
                            <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show">
                            	Bad credentials
                            	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show">
                            	You have been logged out
                            	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div th:if="${param.change}" class="alert alert-success alert-dismissible fade show">
                            	<p th:text="${param.change}"></p>
                            	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            
                            <div class="form-group">
                                <label for="username" >Username<span style="color:#ff0000">*</span></label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" >Password<span style="color:#ff0000">*</span></label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" ><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label>
                            	
                            </div>

                            <div class="form-group text-center mb-3">
                            	<input type="submit" name="submit" class="btn bg-primary text-white btn-md" value="Login">
                            	<button type="reset" class="btn btn-warning  text-white">Reset</button>
                            </div>
                            
                            <div class="container text-center mb-5">
                            	
                            	<div style="float:left;">
                            		<a href="#" th:href="@{/forgot}">Forgot Password ?</a>
                            	</div>
                            	
                            	<div style="float:right;">
                            		<a th:href="@{/signup}" class="text-primary ">Register here</a>
                            	</div>
                            
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
	</section>
	
</body>
</html>